services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: php_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    depends_on:
      - db
    networks:
      - php_network

  nginx:
    image: nginx:alpine
    container_name: php_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - php_network

  db:
    image: mysql:8.0
    container_name: php_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: php_app
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: php_user
      MYSQL_PASSWORD: secret
    ports:
      - "13308:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
#      - ./scripts/db-init.sh:/docker-entrypoint-initdb.d/db-init.sh:ro
    networks:
      - php_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db
    networks:
      - php_network

volumes:
  dbdata:

networks:
  php_network: